{{- if .Values.AWX.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: awx-extra-settings
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
type: Opaque
stringData:
  settings.py: |
    # AWX Extra Settings - Keycloak OIDC Configuration
    SOCIAL_AUTH_KEYCLOAK_KEY = "{{ .Values.oidc.clientId }}"
    SOCIAL_AUTH_KEYCLOAK_AUTHORIZATION_URL = "https://keycloak.ops.techsecom.io/realms/master/protocol/openid-connect/auth"
    SOCIAL_AUTH_KEYCLOAK_ACCESS_TOKEN_URL = "https://keycloak.ops.techsecom.io/realms/master/protocol/openid-connect/token"
    SOCIAL_AUTH_KEYCLOAK_LOGOUT_URL = "https://keycloak.ops.techsecom.io/realms/master/protocol/openid-connect/logout"

    # Security Settings
    SESSION_COOKIE_SECURE = True
    CSRF_COOKIE_SECURE = True
{{- end }}
