{{- if .Values.AWX.enabled }}
---
# ConfigMap for static settings (no secrets)
apiVersion: v1
kind: ConfigMap
metadata:
  name: awx-settings-configmap
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
data:
  settings.py: |
    # AWX Extra Settings - Keycloak OIDC Configuration
    import os
    SOCIAL_AUTH_KEYCLOAK_KEY = "{{ .Values.oidc.clientId }}"
    SOCIAL_AUTH_KEYCLOAK_SECRET = os.environ.get("SOCIAL_AUTH_KEYCLOAK_SECRET", "")
    SOCIAL_AUTH_KEYCLOAK_AUTHORIZATION_URL = "https://keycloak.ops.techsecom.io/realms/master/protocol/openid-connect/auth"
    SOCIAL_AUTH_KEYCLOAK_ACCESS_TOKEN_URL = "https://keycloak.ops.techsecom.io/realms/master/protocol/openid-connect/token"
    SOCIAL_AUTH_KEYCLOAK_LOGOUT_URL = "https://keycloak.ops.techsecom.io/realms/master/protocol/openid-connect/logout"

    # Security Settings
    SESSION_COOKIE_SECURE = True
    CSRF_COOKIE_SECURE = True
{{- end }}
