redis:
  fullnameOverride: redis
  global:
    storageClass: longhorn
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
  auth:
    enabled: true
    existingSecret: redis-creds
    existingSecretPasswordKey: REDIS_PASSWORD
  commonConfiguration: |-
    maxmemory-policy volatile-lru
    appendonly yes
    save 900 1
    save 300 10
    save 60 10000

  architecture: replication
  replica:
    replicaCount: 3
    disableCommands:
    - FLUSHDB
    persistence:
      enabled: true
      storageClass: longhorn
      size: 60Gi
    terminationGracePeriodSeconds: 60
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 20
      timeoutSeconds: 20
      successThreshold: 1
      failureThreshold: 30
    readinessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 20
      timeoutSeconds: 20
      successThreshold: 1
      failureThreshold: 10
    livenessProbe:
      enabled: true
      initialDelaySeconds: 90
      periodSeconds: 15
      timeoutSeconds: 15
      successThreshold: 1
      failureThreshold: 10

  sentinel:
    image:
      registry: docker.io
      repository: bitnamilegacy/redis-sentinel
    enabled: true
    masterSet: mymaster
    quorum: 2
    replicas: 3
    terminationGracePeriodSeconds: 60
    persistence:
      enabled: true
      storageClass: longhorn
      size: 60Gi
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 15
      timeoutSeconds: 15
      failureThreshold: 20
    readinessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 10
      failureThreshold: 10
    livenessProbe:
      enabled: true
      initialDelaySeconds: 90
      periodSeconds: 15
      timeoutSeconds: 10
      failureThreshold: 10

  volumePermissions:
    enabled: true

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus
    startupProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 20
      timeoutSeconds: 20
      successThreshold: 1
      failureThreshold: 10
    livenessProbe:
      enabled: true
      initialDelaySeconds: 90
      periodSeconds: 10
      timeoutSeconds: 10
      successThreshold: 1
      failureThreshold: 5
    readinessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 3

harbor:
  existingSecretAdminPassword: harbor
  existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD
  existingSecretSecretKey: harbor
  core:
    replicas: 3
    resources:
      requests:
        cpu: 0.05
        memory: 150Mi
    extraEnvVars:
    - name: OIDC_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: oidc-harbor
          key: oidc-client-id
    - name: OIDC_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: oidc-harbor
          key: oidc-client-secret
    - name: OIDC_ENDPOINT
      valueFrom:
        secretKeyRef:
          name: oidc-harbor
          key: oidc_issuer-url
    - name: CONFIG_OVERWRITE_JSON
      value: |
        {
          "auth_mode": "oidc_auth",
          "oidc_name": "OIDC",
          "oidc_endpoint": "$(OIDC_ENDPOINT)",
          "oidc_groups_claim": "groups",
          "oidc_admin_group": "superUsers",
          "oidc_client_id": "$(OIDC_CLIENT_ID)",
          "oidc_client_secret": "$(OIDC_CLIENT_SECRET)",
          "oidc_scope": "openid,email,groups,name",
          "oidc_verify_cert": "true",
          "oidc_auto_onboard": "true",
          "oidc_user_claim": "name"
        }

  jobservice:
    replicas: 3
    secret: ""
    jobLoggers:
    - database
    resources:
      requests:
        cpu: 0.5
        memory: 300Mi

  registry:
    replicas: 3
    secret: ""
    credentials:
      # username is defined in existingSecret below, but this value also used by jobservice, so let's align it
      username: harbor_registry_user
      # we use harbor secret to consolidate all the secrets
      # Secret keys must be REGISTRY_PASSWD and REGISTRY_HTPASSWD. For key REGISTRY_PASSWD the value is the password.
      # For key REGISTRY_HTPASSWD the value is the string in the password file generated by htpasswd where the username
      # is harbor_registry_user and the encryption type is bcrypt.
      # For example: `htpasswd -bBc passwordfile harbor_registry_user harbor_registry_password`. The username must be harbor_registry_user!
      existingSecret: harbor
    registry:
      resources:
        requests:
          cpu: 0.5
          memory: 300Mi
  trivy:
    # enabled the flag to enable Trivy scanner
    enabled: true
    gitHubToken: ""
  fullnameOverride: harbor
  externalURL: https://harbor.ops.techsecom.io
  ipFamily:
    # ipv6Enabled set to true if ipv6 is enabled in cluster, currently it affected the nginx related component
    ipv6:
      enabled: false
  expose:
    tls:
      enabled: true
      certSource: secret
      secret:
        secretName: harbor-tls
    ingress:
      className: nginx
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Home
        gethomepage.dev/icon: harbor
        gethomepage.dev/name: Harbor
        gethomepage.dev/widget.type: harbor
        gethomepage.dev/widget.url: harbor.ops.techsecom.io
        gethomepage.dev/href: "https://harbor.ops.techsecom.io"
        gethomepage.dev/app: harbor-ingress
        ingress.kubernetes.io/ssl-redirect: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        ingress.kubernetes.io/proxy-body-size: "0"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        kubernetes.io/ingress.class: "nginx"
        cert-manager.io/revision-history-limit: "3"
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/duration: "2160h"
        cert-manager.io/renew-before: "720h"
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        # external-dns.alpha.kubernetes.io/target: "rke2-manager.techsecom.io"
        # external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      hosts:
        core: harbor.ops.techsecom.io
        notary: notary.ops.techsecom.io
  proxy:
    httpProxy:
    httpsProxy:
    noProxy: 127.0.0.1,localhost,.local,.internal
    components:
    - core
    - jobservice
    - trivy

  # Use recreate strategy to avoid registry volume stuck in mounting status
  updateStrategy:
    type: Recreate

  persistence:
    enabled: true
    resourcePolicy: "keep"
    persistentVolumeClaim:
      trivy:
        storageClass: longhorn
        size: 60Gi
    imageChartStorage:
      type: "s3"
      # https://github.com/goharbor/harbor-helm/issues/1318
      disableredirect: true
      s3:
        bucket: harbor
        existingSecret: harbor-s3
        regionendpoint: "http://minio.minio.svc.cluster.local:9000"

  portal:
    replicas: 3
  notary:
    enabled: false

  database:
    type: external
    external:
      host: "cnpg-cluster-rw.cnpg-system.svc.cluster.local"
      port: "5432"
      username: "harbor"
      existingSecret: "harbor-user-secret"

  redis:
    type: external
    external:
      sentinelMasterSet: "mymaster"
      addr: "redis-node-0.redis-headless.harbor.svc.cluster.local:26379,redis-node-1.redis-headless.harbor.svc.cluster.local:26379,redis-node-2.redis-headless.harbor.svc.cluster.local:26379"
      # https://github.com/goharbor/harbor-helm/issues/1352
      existingSecret: "redis-creds"
      # username: "default"
      # password: "Techseco"
      # password: "<path:secret/data/grafana#api_url>"

  cache:
    enabled: true
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
    # oidc:
    #   enabled: true

    # # Configure components of the External Secrets Operator (ESO).
    # eso:
    #   enabled: true
    #   type: "vault"
    #   secretStoreName: "vault"
    #   # -- Value name in AWS ParameterStore, AWS SecretsManager or other Secret Store.
    #   secretName: "secret/harbor"
    #   # -- Role ARN for the ExternalSecretOperator to assume.

    #   gcpsm:
    #     projectID: "alphabet-123"
