apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: thanos-objstore-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  target:
    name: thanos-objstore-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        objstore.yml: |
          type: s3
          config:
            bucket: thanos
            endpoint: minio.minio.svc.cluster.local:9000
            access_key: {{ "{{ .access_key }}" }}
            secret_key: {{ "{{ .secret_key }}" }}
            insecure: true
  data:
    - secretKey: access_key
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: secret/minio
        property: postgres_user
    - secretKey: secret_key
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: secret/minio
        property: postgres_password
