it-tools:
  replicaCount: 1
  metrics:
    enabled: true
    containerName: nginx-prometheus-exporter
    image:
      repository: nginx/nginx-prometheus-exporter
      pullPolicy: IfNotPresent
      # tag: "1.4.2"
    args:
    - --nginx.scrape-uri=http://localhost:8081/stub_status
    port: 9113
    portName: metrics
    resources: {}
    securityContext:
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 10099
      runAsGroup: 10099
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault

  serviceAccount:
    create: false
    automount: true
    annotations: {}
    name: ""

  ingress:
    enabled: true
    className: "nginx"
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: IT-Tools
      gethomepage.dev/description: Various tools for IT
      gethomepage.dev/group: Services
      gethomepage.dev/icon: it-tools-light.png
      gethomepage.dev/href: https://tools.ops.techsecom.io
      gethomepage.dev/siteMonitor: https://tools.ops.techsecom.io
      external-dns.alpha.kubernetes.io/enabled: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
    - host: tools.ops.techsecom.io
      paths:
      - path: /
        pathType: Prefix
        # one of these patterns will match your chart:
        service:
          name: it-tools
          port: 80
    tls:
    - secretName: tools-tls
      hosts:
      - tools.ops.techsecom.io

  resources:
    limits:
      cpu: 312m
      memory: 800Mi
    requests:
      cpu: 100m
      memory: 128Mi
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

# it-tools:
#   controllers:
#     main:
#       # -- Controller type
#       type: deployment
#       # -- Number of desired pods
#       replicas: 1
#       containers:
#         app:
#           image:
#             # -- Image repository
#             repository: ghcr.io/corentinth/it-tools
#             # -- Image pull policy
#             pullPolicy: IfNotPresent

#           env:
#             TZ: CST

#           securityContext:
#             # -- Mount the container's root filesystem as read-only
#             readOnlyRootFilesystem: true
#             # -- Disable privilege escalations
#             allowPrivilegeEscalation: false
#             # -- Drop all capabilities
#             capabilities:
#               drop:
#               - ALL

#       pod:
#         securityContext:
#           # -- Run container as a non-root user
#           runAsNonRoot: true
#           # -- Run as `nobody` user
#           runAsUser: 65534
#           # -- Run as `nobody` group
#           runAsGroup: 65534
#           # -- Volume binds will be granted to `nobody` group
#           fsGroup: 65534

#       # -- Set the resource requests / limits for the container.
#       resources:
#         limits:
#           cpu: 100m
#           memory: 128Mi
#         requests:
#           cpu: 100m
#           memory: 128Mi

#   # -- Configure the services for the chart here.
#   # @default -- See [values.yaml](./values.yaml)
#   service:
#     main:
#       controller: main
#       ports:
#         http:
#           port: 8080

#   # -- Configure persistence for the chart under this key.
#   # @default -- See [values.yaml](./values.yaml)
#   persistence:
#     data:
#       enabled: true
#       retain: true
#       storageClass: "nfs-csi"
#       accessMode: ReadWriteMany
#       size: 4Gi

#   ingress:
#     # -- Enable and configure ingress settings for the chart under this key.
#     # @default -- See [values.yaml](./values.yaml)
#     main:
#       enabled: true
#       className: "nginx"
#       annotations:
#         gethomepage.dev/enabled: "true"
#         gethomepage.dev/name: IT-Tools
#         gethomepage.dev/description: Various tools for IT
#         gethomepage.dev/group: Services
#         gethomepage.dev/icon: it-tools-light.png
#         gethomepage.dev/href: https://tools.ops.techsecom.io
#         gethomepage.dev/siteMonitor: https://tools.ops.techsecom.io
#         external-dns.alpha.kubernetes.io/enabled: "true"
#         cert-manager.io/cluster-issuer: letsencrypt-prod
#       hosts:
#       - host: tools.ops.techsecom.io
#         paths:
#         - path: /
#           pathType: Prefix
#           service:
#             identifier: main
#             port: http
#       tls:
#       - secretName: it-tools-tls
#         hosts:
#         - tools.ops.techsecom.io
