# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.0/charts/library/common/values.schema.json
app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/prymitive/karma
            tag: v0.122
          env:
            TZ: America/Chicago
            ALERTMANAGER_URI: http://alertmanager-operated.monitoring.svc.cluster.local:9093
          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: 8080
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ "ALL" ]
          resources:
            limits: &resources
              memory: 128Mi
            requests:
              <<: *resources
              cpu: 10m
      pod:
        securityContext:
          runAsUser: 568
          runAsGroup: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
  service:
    main:
      controller: main
      ports:
        http:
          port: 8080
  ingress:
    main:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        # cert-manager.io/revision-history-limit: "3"
        # cert-manager.io/duration: "2160h"
        # cert-manager.io/renew-before: "720h"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
      - host: karma.ops.techsecom.io
        paths:
        - path: /
          service:
            identifier: main
            port: http
      tls:
      - hosts: [ karma.ops.techsecom.io ]
        secretName: karma-cert-tls
