apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-realm-config
  labels:
    app.kubernetes.io/name: keycloakx
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  master-realm.json: |
    {
      "realm": "master",
      "enabled": true,
      "identityProviders": [
        {
          "alias": "techsecoms-oidc",
          "displayName": "Techsecoms SSO",
          "providerId": "oidc",
          "enabled": true,
          "trustEmail": true,
          "storeToken": true,
          "addReadTokenRoleOnCreate": false,
          "firstBrokerLoginFlowAlias": "first broker login",
          "config": {
            "clientId": "${OIDC_CLIENT_ID}",
            "clientSecret": "${OIDC_CLIENT_SECRET}",
            "issuer": "${OIDC_ISSUER}",
            "authorizationUrl": "${OIDC_AUTH_ENDPOINT}",
            "tokenUrl": "${OIDC_TOKEN_ENDPOINT}",
            "userInfoUrl": "${OIDC_USERINFO_ENDPOINT}",
            "jwksUrl": "${OIDC_JWKS_URI}",
            "logoutUrl": "${OIDC_END_SESSION_ENDPOINT}",
            "validateSignature": "true",
            "useJwksUrl": "true",
            "pkceEnabled": "true",
            "pkceMethod": "S256",
            "syncMode": "IMPORT",
            "clientAuthMethod": "client_secret_basic",
            "defaultScope": "openid profile email"
          }
        }
      ]
    }
