namespace: 4mcs4djs-platform

image:
  repository: boky/postfix
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 587

config:
  hostname: mail.4mcs4djs.techsecom.io
  allowedSenderDomains: "4mcs4djs.techsecom.io"
  messageSize: 10485760

dkim:
  enabled: true
  selector: default
  domain: 4mcs4djs.techsecom.io

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi
